@use '../../_css/queries.scss' as *;

.header {
  padding-top: var(--base) ;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.logo {
  width: 100px;
}
