@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
    font-size: medium;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}
